<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.gta.demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".MainMenu"
            android:icon="@drawable/logo_waterme_300x300"
            android:label="WaterMe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsMenu"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".PlantMenu"
            android:label="@string/plant_menu"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".HelpMenu"
            android:label="@string/help_menu"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".about"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".WVaskus"
            android:label="@string/AskUs"
            android:screenOrientation="portrait"
            android:parentActivityName=".HelpMenu" />
        <activity
            android:name=".SinglePlantMenu"
            android:label="@string/MyPlant"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".HumidityGraph"
            android:label="@string/graph"
            android:screenOrientation="portrait"
            android:parentActivityName=".SinglePlantMenu" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>